* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__title {
    color: #335576;
    margin-left: 7rem;
}

.header__list {
    margin: 0 4rem;
    padding: 0;
    display: flex;
}

.header__item {
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: black;
    display: block;
    margin-right: 2rem;
}

.header__link--active {
    padding-bottom: 0.3rem;
    border-bottom:3px  solid #DB7A4E;

}

.main{
    background-image: url("../assets/Images/hawaii.jpg");
    background-position: center;
    background-size: cover;
    height: 37rem;
}

.main__name {
    color: white;
    font-size: 4rem;
    margin-left: 9rem;
}

.details {
    display: flex;
    flex-direction: row;
    margin-left:11rem;
    
}

.cards {
    height: 25rem;
    background-color: white;
    border-radius: 0.3rem; 
    padding:1rem;
    margin:0 2rem; 
    width:15rem;
    
}

.day {
    text-align: center;
    border-bottom: 0.26rem solid black;
    font-size: 1.3rem;
}

.list {
    text-align: center;
}

.list__item {
    padding-top: 1rem;
    height: 3rem;
    font-size: 1.2rem;
    background-color: #FEFAF5;
}

.footer {
    background-color: #FEFAF5;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
}

.container__title {
    color: #335576;
    margin-left: 4rem;
    margin-bottom: 2rem;
    display: block;
}

.container__subtitle {
    color: #DB7A4E;
    margin-left: 4rem;
    font-size: smaller;
}

.container__info {
    margin-left: 4rem;
    font-size: small;
    color: #335576;
}

.container__day1,
.container__day2,
.container__day3 {
    display: inline-block;
}

.container__icon {
    color: #335576;
    width: 5rem;
    padding-left: 4rem;

}